(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
my_hello_str='Spring_2022'
str_len=len(my_hello_str)
print(str_len)

11

(2) Write a Python program to count the number of characters in a string. (4 points)

In [ ]:
my_hello_str='research.com'
response = {}
for char in my_hello_str:
   response[char]=my_hello_str.count(char)
print(response)

{'r': 2, 'e': 2, 's': 1, 'a': 1, 'c': 2, 'h': 1, '.': 1, 'o': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
def sumoflistitems(my_list):
   sum_of_items=0
   for i in my_list:
     um_of_items+=i
     return um_of_items
     print(sumoflistitems([1,5,8,9,12,-6]))

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself. (4 points)

In [ ]:
my_hello_str='restart'
first_char=my_hello_str[0]
my_hello_str=my_hello_str.replace(first_char,'$')
my_hello_str=first_char+my_hello_str[1:]
print(my_hello_str)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where
 ùëÜ=3.14‚àó(1+ùëé/ùëè)3

In [ ]:
def calculation(a,b):
  if(b==0):
    return 'divisor should not be a zero value'
  else:
      return 3.14*(1+a/b)**3
print(calculation(1, 2))
print(calculation(1,0))

10.5975
divisor should not be a zero value

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

In [ ]:
my_diction1={2:20, 4:40}
my_diction2={6:60, 8:80}
my_diction3={10:100, 12:120}
result={**my_diction1, **my_diction2, **my_diction3}
print(result)

{2: 20, 4: 40, 6: 60, 8: 80, 10: 100, 12: 120}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
my_tuple=(16,17,'xyz','0.6')
print(16 in my_tuple)
print('abc' in my_tuple)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
make_set={2,4,5,7,10,25,28}
print('max value :', max(make_set))
print('min value :', min(make_set))

max value : 28
min value : 2

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
import random
def partitionlist(student_list,n):
  random.shuffle(student_list)
    return[studentlist[i::n] for i in range(n)]
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
ex=partitionlist(student_list,6)
for i in ex:
 print(n)

IndentationError: ignored

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
def check_duplicates(my_array):
    my_result = []
    for i in my_array:
        if (my_array.count(i)>1) and (i not in my_result):
            my_result.append(i)
    if len(my_result)==0:
        return -1
    else:
        return my_result
print('without duplicates:', check_duplicates([3,2,4,3,2,5,3,7]))
print('with duplicates:', check_duplicates([4,2,3,1,5]))

without duplicates: [3, 2]
with duplicates: -1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
from datetime import date, timedelta
def all_sundays(year):
       dt = date(year, 1, 1)       
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
for sun in all_sundays(2018):
   print(sun)

2018-01-07
2018-01-14
2018-01-21
2018-01-28
2018-02-04
2018-02-11
2018-02-18
2018-02-25
2018-03-04
2018-03-11
2018-03-18
2018-03-25
2018-04-01
2018-04-08
2018-04-15
2018-04-22
2018-04-29
2018-05-06
2018-05-13
2018-05-20
2018-05-27
2018-06-03
2018-06-10
2018-06-17
2018-06-24
2018-07-01
2018-07-08
2018-07-15
2018-07-22
2018-07-29
2018-08-05
2018-08-12
2018-08-19
2018-08-26
2018-09-02
2018-09-09
2018-09-16
2018-09-23
2018-09-30
2018-10-07
2018-10-14
2018-10-21
2018-10-28
2018-11-04
2018-11-11
2018-11-18
2018-11-25
2018-12-02
2018-12-09
2018-12-16
2018-12-23
2018-12-30